*{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type:none;
  line-height: 185%;
}

h2{
  font-family: "명조체";
  text-align: center;
  margin-bottom: 10px;
}

body{
  font-family: "명조체";
  font-size: 13px;
}

#box{
  width:350px;
  height:200px;
  border:solid 3px #000000;
  border-radius:9px;
  margin: 300px 50 50 600px;
  padding: 50px 50 50 50px;
}

#submit{
  margin: 5px 0 0 150px;
  padding: 10 15 10 15;
}
